<div class="container-fluid gray-contact blog-index">
  <div class="row">
    
      <div class="contact-btn">
        <% if (user_signed_in?) %>
          <%= link_to 'New Project', new_project_path, class: 'btn btn-default contact-btn' %>
        <% end %>
      </div>
      <div id="projects">
        <% @projects.each do |project| %>
        <div class="col-sm-3 text-center item">
            
            <%= link_to project_slug_path(project.slug) do %>
              <span class="project-title">
                <%= project.title %>
              </span>
              <%= image_tag project.avatar.url(:medium), class: 'img-responsive text-center project' %>
            <% end %>
        </div>
        <% end %>
      </div>
  </div>
</div>