<div class="container-fluid gray-contact blog-index">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h1>add a new project</h1>
    
    <%= render 'form' %>
    </div>
      
      

 
    </div>
  </div>
</div>