<div class="container-fluid gray-contact">
  <div class="row">
    <div class="col-md-3 blog-left-side">
      <%= render 'leftside' %>
    </div>
    <div class="col-md-9">
      <h1>add a new post</h1>
      <%= render 'form' %>
  </div>
  </div>
</div>