/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bootstrap";
@import "pygments";
 
// body styles
html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #898989;
  padding: 0;
  margin: 0;
}
.fname {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.lname {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

// Navbar styles
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;

}
.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.navbar-right {
  margin-right: 0px;
}
//Nav Styles
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.nav > li > a {
  padding-right: 15px;
}
.navbar-default .navbar-collapse {
  border: 0;
}
// Jumbotron
// Background taken from https://www.deviantart.com/art/Nebula-Effects-Fractal-Stock-116324836
.jumbotron {
  background-image: url("space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-bottom: 0px;
  box-shadow: 0px 5px 10px;
  position: relative;
  z-index: 3;
}

// Picture
.indexPic {
  position: relative;
  height: 200px;
  border-radius: 100%;
  box-shadow: 5px 5px 10px;
  margin: auto;
  margin-top: -100px;
  display: block;
  z-index: 5;
}
// About me section
.white-bg {
  position: relative;
  background-color: white;
  margin-top: -100px;
  box-shadow: 0px 5px 10px;
  z-index: 2;
}

.white-bg-no-margin {
  position: relative;
  background-color: white;
}
.about-me, .blog, .passions, .coursework {
  padding: 120px 200px 100px 200px;
}
.about-me > h1,
.passions > h1{
  margin: auto;
  display: block;
  font-weight: 100;
  font-size: 45pt;
  text-align: center;
  color: #525252;
}
.about-me > p,
.blog > p,
.passions p{
  margin-top: 30px;
  font-size: 13pt;
}
.resume {
  text-align: center;
}
// What I do Section
.passions {
  position: relative;
  color: white;
}

.passions-bg{
  background: url("services-lg.jpg") no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  position: absolute;
  margin-left: -15px;
  margin-bottom: 0px;
  box-shadow: 0px 5px 10px;
  color: white;
  filter: blur(5px);
  opacity: 0.5;
}
.black-bg {
  background-color: #000;
}
.passions > h1 {
  color: white;
}

// Relevant coursework
.dark-gray-bg {
  background-color: #2e2e2e;
  margin: 0;
  color: #e7e7e7;
  position: relative;
  z-index: 2;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.7), 0px -2px 5px rgba(0,0,0,0.5);
}

.coursework > h1{
  margin: auto;
  display: block;
  font-weight: 100;
  font-size: 45pt;
  text-align: center;
  color: #e7e7e7;
}

.circle-logo {
  height: 100px;
}

.college-title {
  display: inline-block;
}

.courses {
  margin-left: 75px;
}
// Blog post section
.blue-bg {
  position: relative;
  background-color: #2e5460;
  margin: 0;
  color: white;
  z-index: 1;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.7), 0px -2px 5px rgba(0,0,0,0.5);
}
.blue-bg > h1,
.footer-bg > h1 {
  margin: 0;
}
p.date {
  margin-top: 0;
  font-weight: 100;
}
.blue-bg a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
    text-decoration: none;
  }
}
a.blog-link {
 float: right; 
 display: block-inline;
 color: white;
 &:hover {
   color: white;
   text-decoration: none;
 }
}

hr {
  border-top: 1px solid #337ab7;
}

// footer
.footer-bg {
  background-color: #898989;
  color: white;
  z-index: -1;
}
.footer {
  padding: 20px 200px 20px 200px;
}
.footer > h5 {
  margin-top: 15px;
  display: inline-block;
}
.footer a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
    text-decoration: none;
  }
}
.contact-icons {
  color: white;
  display: inline-block;
  float: right;
}
.footer .fa {
  margin-right: 20px;
}

//Target the alert notice class and hide it
.flash-container {
    position: absolute;
    width: 100%;
    z-index: 999;
    margin-top: 50px;
}
.alert-notice, .alert-alert {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255,255,255,0.5);
    color: white;
}

.img-responsive {
  display: inline-block;  
}


// Media Queries
@media (max-width: 1023px) {
    .about-me, .blog, .footer, .passions, .coursework {
    padding: 120px 10px 20px 10px;
  }
  .blog, .footer, .passions, .coursework {
    padding-top: 20px;
  }
  .jumbotron {
    height: 200px;
  }
  .footer h5, .contact-icons {
    display: block;
    text-align: center;
    float: none;
  }
  .footer .fa {
    margin-right: 0px;
  }
  .courses {
  margin-left: 0;
  }
  .college-title {
    font-size: 15pt;
  }
}
@media (max-width: 770px) {
  .nav > li > a {
    margin-right: 0;
  }
}

