// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gray-contact {
  position: relative;
  background-color: #bebebe;
  padding-top: 100px;
  box-shadow: 0px 5px 10px;
}
.gray-contact h1 {
  font-weight: 100;
  text-align: center;
}