// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project {
    padding: 20px;
}
.project h2 {
    margin-top: 0;
}
.jumbotron h1.display-3 {
    text-align: center;
    color: rgba(255,255,255,0.3);
    margin-top: 150px;
    font-weight: 900;
    font-size: 100px;
}